:root{
   --jumbo-bg: #B4D0E7;
   --btn-blue-color:#0061FF;
   --white-color: #FFFFFF;
   --footer-color:#000000;
   --black-color:#000000;
   --green-color:#A2D39B;
   --light-green-color:#D1E9CD;
   --purple-color:#61082B;
   --red-color:#FF1C1C;
   --ski-color:#0093CE;
   --red-strong-color:#D5001F;
   --dark-blue:#0D2481;
   --yellow-color:#FFD830;
   --light-gray-color:#5d5d5d;


   --fs-h1:5.3em;
   --fs-h2:3em;
   --fs-h3:2em;
   --fs-h4:1.8em;
   --fs-p:1.2em;
   --fs-a:1.2em;
   --fs-icon-arrow:4em
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

ul li{
    list-style: none;
}
nav a{
    position: relative;
}
nav a:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 0;
    height: 3px;
    transition: 0.2s;
    background-color: var(--btn-blue-color);

}
nav a:hover:after{
    
    width: 100%;
    
}

.debug{
    border: solid 1px red;
}


/* container settings (width bigger / lower) */
.container-90{
    width: 1400px;
    margin: 0 auto;
}
.container-80{
    width: 1200px;
    margin: 0 auto;
}





/* display flex settings */
.d-flex{
    display: flex;
}
.sp-between{
    justify-content: space-between;
}
.wrap{
    flex-wrap: wrap;
}
.items-center{
    align-items: center;
}




/* display inline block */
.inline-block{
    display: inline-block;
}
.inline{
    display: inline;
}
.block{
    display: block;
}




/* Images size */
.img-logo{
    width: 100px;
}
.img-jumbo{
    width: 1000px;
}
.img-partner{
    width: 730px;
}
.img-benefit{
    width: 100%;
    
}


/* header nav height */
.height-nav{
    height: 70px;
}
.height-text{
    height: 100%;
}



/* width row dimension */
.left{
    width: 30%;
}
.right{
    width: 70%;
}
.three-row{
    width: calc(100% / 3);
}






/* font size document */
.fs-h1{
    font-size: var(--fs-h1);
}
.fs-h2{
    font-size: var(--fs-h2);
}
.fs-h3{
    font-size: var(--fs-h3);
}
.fs-h4{
    font-size: var(--fs-h4);
}
.fs-p{
    font-size: var(--fs-p);
}
.fs-a{
    font-size: var(--fs-a);
}
.fs-icon{
    font-size: var(--fs-icon-arrow);
}


/* background-color - color font*/
.bg-sky-blue-color{
    background-color: var(--jumbo-bg);
}
.bg-green-color{
    background-color: var(--green-color);
}
.bg-light-green-color{
    background-color: var(--light-green-color);
}
.bg-purple-color{
    background-color: var(--purple-color);
}
.bg-red-color{
    background-color: var(--red-color);
}
.bg-ski-color{
    background-color: var(--ski-color);
}
.bg-red-strong-color{
    background-color: var(--red-strong-color);
}
.bg-dark-blue{
    background-color: var(--dark-blue);
}
.bg-yellow-color{
    background-color: var(--yellow-color);
}
.bg-btn-blue-color{
    background-color: var(--btn-blue-color);
}
.purple-color{
    color: var(--purple-color);
}
.light-gray-color{
    color: var(--light-gray-color);
}
.white-color{
    color: var(--white-color);
}
.black-color{
    color: var(--black-color);
}


/* border card */
.border-card{
    border: solid 1px var(--light-gray-color);
}

/* position relative - fixed  */
.relative{
    position: relative;
    bottom: -70px;
}
.fixed{
    position: fixed;
    z-index: 1000;
    background-color: var(--white-color);
    width: 100%;
}



/* button pharams */
.btn-long{
    width: 255px;
    height: 50px;
}
.btn-short{
    width: 70px;
    height: 30px;
}
.line-height-70{
    line-height: 70px;
}
.line-height-40{
    line-height: 50px;
}
.line-height-30{
    line-height: 30px;
}




/* text align center */
.text-align{
    text-align: center;
}



/* a link decoration */
.a-dc-none{
    text-decoration: none;
}




/* padding / margin elements */
.padd-LR-15{
    padding: 0 15px;
}
.padd-top-60{
    padding-top: 60px;   
}
.margin-top-bot-30{
    margin: 30px 0;
}
.margin-top100{
    margin-top: 100px;
}
.margin-top130{
    margin-top: 130px;
}
.padd-all-10{
    padding: 10px;
}



















/* icon before card plan */

/* first card */
#singolo-p::before{
    font-family: FontAwesome;
    content: "\f007";
 }



#singolo-ul li:nth-child(1)::before{
    font-family: FontAwesome;
    content: "\f007";
}
#singolo-ul li:nth-child(2)::before{
    font-family: FontAwesome;
    content: "\f07b";
}
#singolo-ul li:nth-child(3)::before{
    font-family: FontAwesome;
    content: "\f1e0";
}



#singolo-ul-check li:nth-child(1)::before{
    font-family: FontAwesome;
    content: "\f00c";
    color: var(--btn-blue-color);
}
#singolo-ul-check li:nth-child(2)::before{
    font-family: FontAwesome;
    content: "\f00c";
    color: var(--btn-blue-color);
}



