:root{
   --jumbo-bg: #B4D0E7;
   --btn-blue-color:#0061FF;
   --white-color: #FFFFFF;
   --footer-color:#000000;
   --black-color:#000000;
   --green-color:#A2D39B;
   --light-green-color:#D1E9CD;
   --purple-color:#61082B;
   --red-color:#FF1C1C;
   --ski-color:#0093CE;
   --red-strong-color:#D5001F;
   --dark-blue:#0D2481;
   --yellow-color:#FFD830;
   --light-gray-color:#5d5d5d;
   --light-gray-border:#d5d5d5;


   --fs-h1:5.3em;
   --fs-h2:3.2em;
   --fs-h3:2.5em;
   --fs-h4:1.6em;
   --fs-p:1.2em;
   --fs-a:1.2em;
   --fs-icon-arrow:4em
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

ul li{
    list-style: none;
}

.line{
    width: 50px;
    border: solid 1px var(--light-gray-border);
}
.line100{
    width: 100px;
    border: solid 1px var(--light-gray-border);
}
nav a{
    position: relative;
}
nav a:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 0;
    height: 3px;
    transition: 0.2s;
    background-color: var(--btn-blue-color);

}
nav a:hover:after{
    
    width: 100%;
    
}





/* container settings (width bigger / lower) */
.container-90{
    width: 1400px;
    margin: 0 auto;
}
.container-80{
    width: 1200px;
    margin: 0 auto;
    
}

/* overflow - items */
.overflow{
    overflow-x: hidden;
}



/* display flex settings */
.d-flex{
    display: flex;
}
.sp-between{
    justify-content: space-between;
}
.wrap{
    flex-wrap: wrap;
}

.j-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.items-start{
    align-items:flex-start
}
.stretch{
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}
.gap{
    gap: 45px;
}





/* display inline block */
.inline-block{
    display: inline-block;
}
.inline{
    display: inline;
}
.block{
    display: block;
}




/* Images size */
.img-logo{
    width: 100px;
}
.img-jumbo{
    width: 1000px;
}
.img-partner{
    width: 100%;
}
.img-benefit{
    width: 100%;   
}
.img-logos{
    width: 60%;   
}
.cont-img{
    width: calc(100% / 3);   
    height: calc(100vw / 3); 
}
.cont-img-small{
    width: calc(100% / 2);   
    height: 50%; 
}
.img-logo{
    width: 22%;   
}


/* header nav height */
.height-nav{
    height: 70px;
}
.height-footer{
    height: 400px;
}
.height-footer-s{
    height: 100px;
}
.height-text{
    height: 100%;
}



/* width dimension */
.left{
    width: 35%;
}
.right{
    width: 65%;
}
.three-row{
    width: calc(100% / 3);
}
.three-row-benefit{
    width: calc((100% / 3) - 30px);
}
.max-width-text{
    width: 700px;
}







/* font size document */
.fs-h1{
    font-size: var(--fs-h1);
}
.fs-h2{
    font-size: var(--fs-h2);
}
.fs-h3{
    font-size: var(--fs-h3);
}
.fs-h4{
    font-size: var(--fs-h4);
}
.fs-p{
    font-size: var(--fs-p);
}
.fs-a{
    font-size: var(--fs-a);
}
.fs-icon{
    font-size: var(--fs-icon-arrow);
}
.bolder{
    font-weight: bolder;
}


/* background-color - color font*/
.bg-sky-blue-color{
    background-color: var(--jumbo-bg);
}
.bg-black-color{
    background-color: var(--footer-color);
}
.bg-light-gray-color{
    color: var(--light-gray-color);
}
.bg-green-color{
    background-color: var(--green-color);
}
.bg-light-green-color{
    background-color: var(--light-green-color);
}
.bg-purple-color{
    background-color: var(--purple-color);
}
.bg-red-color{
    background-color: var(--red-color);
}
.bg-ski-color{
    background-color: var(--ski-color);
}
.bg-red-strong-color{
    background-color: var(--red-strong-color);
}
.bg-dark-blue{
    background-color: var(--dark-blue);
}
.bg-yellow-color{
    background-color: var(--yellow-color);
}
.bg-btn-blue-color{
    background-color: var(--btn-blue-color);
}
.purple-color{
    color: var(--purple-color);
}
.light-gray-color{
    color: var(--light-gray-color);
}
.white-color{
    color: var(--white-color);
}
.black-color{
    color: var(--black-color);
}
.blue-color{
    color: var(--btn-blue-color);
}


/* border card */
.border-card{
    border: solid 1px var(--light-gray-border);
}
.border-bottom{
    border-bottom: solid 1px var(--light-gray-border);
}

/* position relative - fixed  */
.relative{
    position: relative;
    bottom: -70px;
}
.fixed{
    position: fixed;
    z-index: 1000;
    background-color: var(--white-color);
    width: 100%;
}



/* button pharams */
.btn-long{
    width: 255px;
    height: 50px;
}
.btn-short{
    width: 70px;
    height: 30px;
}
.line-height-70{
    line-height: 70px;
}
.line-height-40{
    line-height: 50px;
}
.line-height-30{
    line-height: 30px;
}




/* text align center */
.text-align{
    text-align: center;
}



/* a link decoration */
.a-dc-none{
    text-decoration: none;
}




/* padding / margin elements */
.padd-LR-15{
    padding: 0 15px;
}
.padd-top-60{
    padding-top: 60px;   
}
.padd-top-100{
    padding-top: 100px;   
}
.padd-bot-100{
    padding-bottom: 100px;   
}
.margin-top-bot-30{
    margin: 30px 0;
}
.margin-top-bot-50{
    margin: 50px 0;
}
.margin-bot-100{
    margin-bottom: 100px;
}
.margin-top100{
    margin-top: 100px;
}
.margin-top10{
    margin-top: 10px;
}
.margin-top130{
    margin-top: 130px;
}
.padd-all-10{
    padding: 10px;
}
/* .padd-all-22{
    padding: 15px;
} */
.padd-T-B-10{
    padding: 10px 0;
}
.padd-T-B-15{
    padding: 15px 0;
}
.padd-B-15{
    padding-bottom: 15px;
}
.padd-B-25{
    padding-bottom: 25px;
}
.padd-top-25{
    padding-top: 25px;
}
.margin-T-B-10{
    margin: 15px 0 30px 0;
}
.margin-T-B-20{
    margin: 30px 0;
}
.padd-all-15{
    padding: 40px;
}
.padd-T-B-45{
    padding: 45px 0;
}








/* summary settings */

/* details > summary {
    list-style-type: '▶️';
    
    
}

details[open] > summary {
    list-style-type: '🔽';
} */





.summary{
    list-style: none;
    padding: 20px 0;
}
.summary + p{
    padding: 10px;
}

.summary::after{
    font-family: FontAwesome;
    content: "\f107";
    position: relative;
    left: 30%;
    
}

.line-long{
    width: 100%;
    border: solid 1px var(--light-gray-border);
}








/* icon before card plan */

/* FIRST CARD */
/* section card n.1 */
#singolo-p::before{
    font-family: FontAwesome;
    content: "\f007";
    margin-right: 5px;
}

/* section card n.2 */
#singolo-ul li:nth-child(1)::before{
    font-family: FontAwesome;
    content: "\f007";
    margin-right: 5px;
}
#singolo-ul li:nth-child(2)::before{
    font-family: FontAwesome;
    content: "\f07b";
    margin-right: 5px;
}
#singolo-ul li:nth-child(3)::before{
    font-family: FontAwesome;
    content: "\f1e0";
    margin-right: 5px;
}


/* section card n.3 (check icon)*/
#singolo-ul-check li:nth-child(1)::before{
    font-family: FontAwesome;
    content: "\f00c";
    color: var(--btn-blue-color);
    margin-right: 5px;
    margin-top: 3px;
}
#singolo-ul-check li:nth-child(2)::before{
    font-family: FontAwesome;
    content: "\f00c";
    color: var(--btn-blue-color);
    margin-right: 5px;
    margin-top: 3px;
}



/* SECOND CARD */
/* section card n.1 */
#team-p::before{
    font-family: FontAwesome;
    content: "\f0c0";
    margin-right: 5px;
}

/* section card n.2 */
#team-ul li:nth-child(1)::before{
    font-family: FontAwesome;
    content: "\f0c0";
    margin-right: 5px;
}
#team-ul li:nth-child(2)::before{
    font-family: FontAwesome;
    content: "\f07b";
    margin-right: 5px;
}
#team-ul li:nth-child(3)::before{
    font-family: FontAwesome;
    content: "\f1e0";
    margin-right: 5px;
}


/* section card n.3 (check icon)*/
#team-ul-check li:nth-child(1)::before{
    font-family: FontAwesome;
    content: "\f00c";
    color: var(--btn-blue-color);
    margin-right: 5px;
    margin-top: 3px;
}
#team-ul-check li:nth-child(2)::before{
    font-family: FontAwesome;
    content: "\f00c";
    color: var(--btn-blue-color);
    margin-right: 5px;
    margin-top: 3px;
}
#team-ul-check li:nth-child(3)::before{
    font-family: FontAwesome;
    content: "\f00c";
    color: var(--btn-blue-color);
    margin-right: 5px;
    margin-top: 3px;
}
#team-ul-check li:nth-child(4)::before{
    font-family: FontAwesome;
    content: "\f00c";
    color: var(--btn-blue-color);
    margin-right: 5px;
    margin-top: 3px;
}
#team-ul-check li:nth-child(5)::before{
    font-family: FontAwesome;
    content: "\f00c";
    color: var(--btn-blue-color);
    margin-right: 5px;
    margin-top: 3px;
}






/* THIRD CARD */
/* section card n.1 */
#azienda-p::before{
    font-family: FontAwesome;
    content: "\f67f";
    margin-right: 5px;
}

/* section card n.2 */
#azienda-ul li:nth-child(1)::before{
    font-family: FontAwesome;
    content: "\f007";
    margin-right: 5px;
}
#azienda-ul li:nth-child(2)::before{
    font-family: FontAwesome;
    content: "\f07b";
    margin-right: 5px;
}
#azienda-ul li:nth-child(3)::before{
    font-family: FontAwesome;
    content: "\f1e0";
    margin-right: 5px;
}


/* section card n.3 (check icon)*/
#azienda-ul-check li:nth-child(1)::before{
    font-family: FontAwesome;
    content: "\f00c";
    color: var(--btn-blue-color);
    margin-right: 5px;
    margin-top: 3px;
}
#azienda-ul-check li:nth-child(2)::before{
    font-family: FontAwesome;
    content: "\f00c";
    color: var(--btn-blue-color);
    margin-right: 5px;
    margin-top: 3px;
}
#azienda-ul-check li:nth-child(3)::before{
    font-family: FontAwesome;
    content: "\f00c";
    color: var(--btn-blue-color);
    margin-right: 5px;
    margin-top: 3px;
}


